.accordion-wrapper {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.accordion {
  width: 500px;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-description {
  max-height: 0;
  overflow: hidden;
  transition: all 0.75s cubic-bezier(0, 1, 0, 1);
  position: relative;
}

.accordion-description-show {
  max-height: 9999px;
  overflow: hidden;
  transition: all 0.75s cubic-bezier(0, 1, 0, 1);
  position: relative;
}

.accordion-item-options {
  margin: 10px;
  justify-content: flex-end;
  display: flex;
  
}
.review-button{
  height: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 1em;
  padding: 5px 10px 5px 10px;
}

.review-button:hover {
  background-color: rgb(174, 236, 255);
}
 .pending-turn {
  background-color: rgba(255, 250, 200, 0.8);
 }