.h1-details {
  color: aliceblue;
  text-shadow: 0 2px 4px black, 0 1px 4px black, 0 5px 20px rgb(140 0 255);
  padding: 15px 0px;
}

.container-about {
  color: rgb(3, 87, 95);
  padding: 15px 150px;
  font-style: italic;
  font-weight: bold;
}

.container-about p {
  padding: 10px;
  box-shadow: 0 2px 8px 5px rgb(47, 121, 111);
  border-radius: 10px;
}